@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat&family=Yeseva+One&display=swap');

:root {
  --black: #282828;
  --blue: #6ba4a7;
  --white: #fff;
  --purple: #b16286;
  --purple-alt: #d3869b;
  --animation-duration: 0.15s
}

.socialsSVG {
  fill: currentColor;
  color: var(--white);
  margin-right: 0.5em;
}

.socialmedia li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Bloques de código */
code {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

html,
body {
  color: var(--black);
}

/* Tipo de letra principal y margen lateral */
body {
  font-family: 'Montserrat';
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Estilo para los títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Yeseva One';
}

hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Centrar en la página el título principal */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 10vw 1rem 10vw;
  flex: 1 0 auto;
}

main h1 {
  font-size: 3rem;
  margin-top: 10px;
}

main p {
  font-size: 1.3rem;
  max-width: 50rem;
  word-spacing: 0.3rem;
  line-height: 2rem;
}

main .aux-text p {
  font-size: inherit;
  margin-bottom: inherit;
  word-spacing: inherit;
  line-height: inherit;

}

.home {
  display: flex;
  align-items: center;
}

.mobile-nav {
  display: none;
  transition: transform 400ms cubic-bezier(.06, .78, .39, .93);
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

.nav li {
  text-align: center;
  position: relative;
}

.nav li .first-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--blue);
  visibility: hidden;
  transform: scaleX(0);
  transition: all var(--animation-duration) cubic-bezier(.06, .78, .39, .93) 0s;
  border-radius: 6px;
}

.nav .first-a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav li {
  display: inline-block;
  margin: 7px 15px;
}

.nav .dropmenu-svg {
  width: 0.6rem;
}

.nav li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

.nav li:hover>.dropdown,
.nav li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 150px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 5px -1px #cccccc52;
}

.nav li .primary li a:hover {
  padding-left: 10px;
  border-left: 3px solid var(--blue);
  transition: padding 0.3s ease;
}

.nav li ul li a {
  transition: padding 0.5s ease;
}

ul .other {
  cursor: default
}

.mobile li:hover>.dropdown,
.mobile li ul:hover {
  box-shadow: none;
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1rem;
  min-width: fit-content;
  text-align: center;
  background: none;
}

.mobile .dropdown li {
  margin-bottom: 1rem;
}

.btn {
  font-family: 'IBM Plex Mono';
  background-color: var(--black);
  color: white;
  padding: 10px 2rem;
  border-radius: 8px;
}

button {
  font-family: 'IBM Plex Mono';
  background: transparent;
  padding: 0;
  border: 0;
  width: 40px;
  aspect-ratio: 1;
}

.button-three {
  display: none;
  --button-color: var(--black);
  overflow: hidden;
  cursor: pointer;
}

.button-three .hamburger {
  transition: translate .25s, rotate .5s;
}

.button-three[aria-expanded="true"] .hamburger {
  translate: 2px -2px;
  rotate: 0.125turn;
}

.button-three .line {
  transition: .3s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 10vw;
}

/* Efecto de hover para la imágen */
.home img {
  width: 180px;
  transition: opacity var(--animation-duration) ease-in-out;
}

.home img:hover {
  opacity: 0.6;
}

/* Efecto de hover para el btn Contacto */
.btn {
  transition: color var(--animation-duration) ease-in-out;
  transition: background-color var(--animation-duration) ease-in-out;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* Footer Styles */
footer {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--black);
  padding: 4rem 5vw;
  max-height: 305px;
}

footer .footer-links {
  display: flex;
  padding: 0;
  color: var(--white)
}

footer .footer-links h3 {
  margin: 0;
  padding: 0;
}

footer .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

footer .footer-links ul li a {
  color: var(--white);
  transition: color var(--animation-duration) ease-in-out;
}

footer .footer-links ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-logo img {
  width: 400px;
  transition: opacity var(--animation-duration) ease-in-out;
}

footer .footer-logo img:hover {
  opacity: 0.6;
}

footer .footer-logo p {
  color: var(--white);
}

@media only screen and (max-width: 440px) {
  footer .footer-logo img {
    width: 80vw;
  }
}

/* Hero Styles */
.hero {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: stretch;
  margin: auto auto 4rem auto;
  padding-top: 1rem;
}

.variation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-image: url(/assets/interior.jpg);
  object-fit: cover;
  background-size: cover;
  height: 60vh;
  background-position: center;
  max-width: none;
  padding-top: 0;
}

.variation p {
  text-align: center;
  margin: 0;
  font-size: 2rem;
}

.main-text {
  padding: 2rem;
}

.variant {
  margin: 0;
  padding: 0;
}

.aux-text {
  padding: 1rem;
}

.aux-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
}

.main-text>* {
  font-size: 3.35rem;
  text-align: left;
}

.main-text h1 {
  margin: 0;
}

.main-text h1 span {
  display: block;
  font-size: 6rem;
}

.main-text .alt-text {
  margin: 0;
  display: inline;
  font-display: swap;
}

.aux-text i {
  text-align: center;
  display: block;
  width: 100%;
}

.aux-text i svg {
  width: 3rem;
  overflow: hidden;
  background-clip: border-box;
  fill: #ffffff00;
  transition: fill var(--animation-duration) ease-in-out;
}

.aux-text i svg:hover {
  fill: var(--purple)
}

.aux-text h2 {
  margin: 1rem 0;
}

.aux-text .alt-text {
  margin: 0;
}

/* Aux text img */

/* .aux-text img {
  max-width: 80%;
  display: block;
} */

.person img {
  width: 100%;
}

.person {
  width: 100%;
  transition: transform 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-container {
  width: 85%;
  aspect-ratio: 1 / 1.45;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 100vw 100vw;
}

.person-img {
  position: absolute;
  width: 60%;
  bottom: -70px;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.person-circle {
  rotate: -30deg;
  opacity: 90%;
  position: absolute;
  aspect-ratio: 1;
  bottom: 0;
  object-fit: cover;
  border-radius: 50%;
}

.person-img:hover {
  transform: scale(1.06) translateY(-1.5vw);
}

.person:hover {
  transform: scale(1.02);
}

@media only screen and (max-width: 525px) {
  .main-text>* {
    text-align: center;
    font-size: 8vw;
  }

  .main-text h1 span {
    font-size: 16vw;
  }

  .aux-text i svg {
    width: 15vw;
  }
}

@media only screen and (max-width: 815px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .variation {
    height: 40vh;
  }

  .person {
    width: 50%;
  }

  .aux-text {
    text-align: center;
  }

  .main-text {
    margin: 4rem 0 0;
  }

  .variant {
    margin: 0;
  }

  /* Navbar */
  .button-three {
    display: inline-block;
    z-index: 9999;
  }

  .nav,
  .btn {
    display: none;
  }

  main .btn {
    display: inline-block;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    inset: 0 0 0 40%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(0.5rem);
    height: 100%;
    width: 60%;
    padding-top: 4rem;
    gap: 2rem;
    transform: translateX(100%);
  }

  .mobile-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav .nav {
    align-items: center;
    gap: 1rem;
  }

  .mobile-nav .btn {
    background: 0;
    color: var(--black);
    font-family: Montserrat;
    padding: 0 1rem;
    margin: 0;
  }
}