:root {
  --black: #282828;
  --red: #fb4934;
  --altred: #cc241d;
  --yellow: #fabd2f;
  --altyellow: #d79921;
  --blue: #83a598;
  --altblue: #458588;
  --green: #b8bb26;
  --altgreen: #98971a;
  --aqua: #8ec07c;
  --altaqua: #689d6a;
  --orange: #fe8019;
  --altorange: #d65d0e;
  --white: #fff;
  --white2: #f9f5d7;
  --white3: #fbf1c7;
  --white4: #d5c4a1;
  --purple: #d3869b;
  --altpurple: #b16286;
  --gray: #928374;
  --gray2: #7c6f64;
}

/* Debug: Test if pill colors are loading */
#pill {
  border: 2px solid red !important;
}