:root {
  .gruvbox {
    --base00: #fff9e8;
    --base01: #ebdbb2;
    --base02: #d5c4a1;
    --base03: #bdae93;
    --base04: #665c54;
    --base05: #504945;
    --base06: #3c3836;
    --base07: #282828;
    --base08: #9d0006;
    --base09: #af3a03;
    --base0A: #b57614;
    --base0B: #79740e;
    --base0C: #427b58;
    --base0D: #076678;
    --base0E: #8f3f71;
    --base0F: #d65d0e;
  }
  .catppuccin {
    --base00: #eff1f5; /* base */
    --base01: #e6e9ef; /* mantle */
    --base02: #ccd0da; /* surface0 */
    --base03: #bcc0cc; /* surface1 */
    --base04: #acb0be; /* surface2 */
    --base05: #4c4f69; /* text */
    --base06: #dc8a78; /* rosewater */
    --base07: #7287fd; /* lavender */
    --base08: #d20f39; /* red */
    --base09: #fe640b; /* peach */
    --base0A: #df8e1d; /* yellow */
    --base0B: #40a02b; /* green */
    --base0C: #179299; /* teal */
    --base0D: #1e66f5; /* blue */
    --base0E: #8839ef; /* mauve */
    --base0F: #dd7878; /* flamingo */
  }

  @media (prefers-color-scheme: dark) {
    .gruvbox {
      --base00: #32302f; /* Default Background */
      --base01: #3c3836; /* Lighter Background */
      --base02: #504945; /* Selection Background */
      --base03: #665c54; /* Comments, Invisibles */
      --base04: #bdae93; /* Dark Foreground */
      --base05: #d5c4a1; /* Default Foreground */
      --base06: #ebdbb2; /* Light Foreground */
      --base07: #fbf1c7; /* Light Background */
      --base08: #fb4934; /* Variables, XML Tags */
      --base09: #fe8019; /* Integers, Boolean */
      --base0A: #fabd2f; /* Classes, Markup Bold */
      --base0B: #b8bb26; /* Strings, Inherited Class */
      --base0C: #8ec07c; /* Support, Regular Expressions */
      --base0D: #83a598; /* Functions, Methods */
      --base0E: #d3869b; /* Keywords, Storage */
      --base0F: #d65d0e; /* Deprecated */
    }
    .catppuccin {
      --base00: #303446; /* base */
      --base01: #292c3c; /* mantle */
      --base02: #414559; /* surface0 */
      --base03: #51576d; /* surface1 */
      --base04: #626880; /* surface2 */
      --base05: #cdd6f4; /* text */
      --base06: #f5e0dc; /* rosewater */
      --base07: #b4befe; /* lavender */
      --base08: #f38ba8; /* red */
      --base09: #fab387; /* peach */
      --base0A: #f9e2af; /* yellow */
      --base0B: #a6e3a1; /* green */
      --base0C: #94e2d5; /* teal */
      --base0D: #89b4fa; /* blue */
      --base0E: #cba6f7; /* mauve */
      --base0F: #f2cdcd; /* flamingo */
    }
  }

  [data-theme='dark'] {
    .gruvbox {
      --base00: #32302f; /* Default Background */
      --base01: #3c3836; /* Lighter Background */
      --base02: #504945; /* Selection Background */
      --base03: #665c54; /* Comments, Invisibles */
      --base04: #bdae93; /* Dark Foreground */
      --base05: #d5c4a1; /* Default Foreground */
      --base06: #ebdbb2; /* Light Foreground */
      --base07: #fbf1c7; /* Light Background */
      --base08: #fb4934; /* Variables, XML Tags */
      --base09: #fe8019; /* Integers, Boolean */
      --base0A: #fabd2f; /* Classes, Markup Bold */
      --base0B: #b8bb26; /* Strings, Inherited Class */
      --base0C: #8ec07c; /* Support, Regular Expressions */
      --base0D: #83a598; /* Functions, Methods */
      --base0E: #d3869b; /* Keywords, Storage */
      --base0F: #d65d0e; /* Deprecated */
    }
    .catppuccin {
      --base00: #303446; /* base */
      --base01: #292c3c; /* mantle */
      --base02: #414559; /* surface0 */
      --base03: #51576d; /* surface1 */
      --base04: #626880; /* surface2 */
      --base05: #cdd6f4; /* text */
      --base06: #f5e0dc; /* rosewater */
      --base07: #b4befe; /* lavender */
      --base08: #f38ba8; /* red */
      --base09: #fab387; /* peach */
      --base0A: #f9e2af; /* yellow */
      --base0B: #a6e3a1; /* green */
      --base0C: #94e2d5; /* teal */
      --base0D: #89b4fa; /* blue */
      --base0E: #cba6f7; /* mauve */
      --base0F: #f2cdcd; /* flamingo */
    }
  }

  [data-theme='light'] {
    .gruvbox {
      --base00: #fff9e8;
      --base01: #ebdbb2;
      --base02: #d5c4a1;
      --base03: #bdae93;
      --base04: #665c54;
      --base05: #504945;
      --base06: #3c3836;
      --base07: #282828;
      --base08: #9d0006;
      --base09: #af3a03;
      --base0A: #b57614;
      --base0B: #79740e;
      --base0C: #427b58;
      --base0D: #076678;
      --base0E: #8f3f71;
      --base0F: #d65d0e;
    }
    .catppuccin {
      --base00: #e6e9ef; /* base */
      --base01: #e6e9ef; /* mantle */
      --base02: #ccd0da; /* surface0 */
      --base03: #bcc0cc; /* surface1 */
      --base04: #acb0be; /* surface2 */
      --base05: #4c4f69; /* text */
      --base06: #dc8a78; /* rosewater */
      --base07: #7287fd; /* lavender */
      --base08: #d20f39; /* red */
      --base09: #fe640b; /* peach */
      --base0A: #df8e1d; /* yellow */
      --base0B: #40a02b; /* green */
      --base0C: #179299; /* teal */
      --base0D: #1e66f5; /* blue */
      --base0E: #8839ef; /* mauve */
      --base0F: #dd7878; /* flamingo */
    }
  }
}
