@layer base {
  .gruvbox {
    --color-foreground: var(--gruvbox-light-color-foreground);
    --color-background: var(--gruvbox-light-color-background);
    --color-altbg: var(--gruvbox-light-color-altbg);
    --color-primary: var(--gruvbox-light-color-primary);
    --color-secondary: var(--gruvbox-light-color-secondary);
    --color-accent: var(--gruvbox-light-color-accent);
    --color-base00: var(--gruvbox-light-color-base00);
    --color-base01: var(--gruvbox-light-color-base01);
    --color-base02: var(--gruvbox-light-color-base02);
    --color-base03: var(--gruvbox-light-color-base03);
    --color-base04: var(--gruvbox-light-color-base04);
    --color-base05: var(--gruvbox-light-color-base05);
    --color-base06: var(--gruvbox-light-color-base06);
    --color-base07: var(--gruvbox-light-color-base07);
    --color-base08: var(--gruvbox-light-color-base08);
    --color-base09: var(--gruvbox-light-color-base09);
    --color-base0A: var(--gruvbox-light-color-base0A);
    --color-base0B: var(--gruvbox-light-color-base0B);
    --color-base0C: var(--gruvbox-light-color-base0C);
    --color-base0D: var(--gruvbox-light-color-base0D);
    --color-base0E: var(--gruvbox-light-color-base0E);
    --color-base0F: var(--gruvbox-light-color-base0F);
    --black: var(--gruvbox-light-pill-black);
    --red: var(--gruvbox-light-pill-red);
    --altred: var(--gruvbox-light-pill-altred);
    --yellow: var(--gruvbox-light-pill-yellow);
    --altyellow: var(--gruvbox-light-pill-altyellow);
    --blue: var(--gruvbox-light-pill-blue);
    --altblue: var(--gruvbox-light-pill-altblue);
    --green: var(--gruvbox-light-pill-green);
    --altgreen: var(--gruvbox-light-pill-altgreen);
    --aqua: var(--gruvbox-light-pill-aqua);
    --altaqua: var(--gruvbox-light-pill-altaqua);
    --orange: var(--gruvbox-light-pill-orange);
    --altorange: var(--gruvbox-light-pill-altorange);
    --white: var(--gruvbox-light-pill-white);
    --white2: var(--gruvbox-light-pill-white2);
    --white3: var(--gruvbox-light-pill-white3);
    --white4: var(--gruvbox-light-pill-white4);
    --purple: var(--gruvbox-light-pill-purple);
    --altpurple: var(--gruvbox-light-pill-altpurple);
    --gray: var(--gruvbox-light-pill-gray);
    --gray2: var(--gruvbox-light-pill-gray2);
  }

  .catppuccin {
    --color-foreground: var(--catppuccin-light-color-foreground);
    --color-background: var(--catppuccin-light-color-background);
    --color-altbg: var(--catppuccin-light-color-altbg);
    --color-primary: var(--catppuccin-light-color-primary);
    --color-secondary: var(--catppuccin-light-color-secondary);
    --color-accent: var(--catppuccin-light-color-accent);
    --color-base00: var(--catppuccin-light-color-base00);
    --color-base01: var(--catppuccin-light-color-base01);
    --color-base02: var(--catppuccin-light-color-base02);
    --color-base03: var(--catppuccin-light-color-base03);
    --color-base04: var(--catppuccin-light-color-base04);
    --color-base05: var(--catppuccin-light-color-base05);
    --color-base06: var(--catppuccin-light-color-base06);
    --color-base07: var(--catppuccin-light-color-base07);
    --color-base08: var(--catppuccin-light-color-base08);
    --color-base09: var(--catppuccin-light-color-base09);
    --color-base0A: var(--catppuccin-light-color-base0A);
    --color-base0B: var(--catppuccin-light-color-base0B);
    --color-base0C: var(--catppuccin-light-color-base0C);
    --color-base0D: var(--catppuccin-light-color-base0D);
    --color-base0E: var(--catppuccin-light-color-base0E);
    --color-base0F: var(--catppuccin-light-color-base0F);
    --black: var(--catppuccin-light-pill-black);
    --red: var(--catppuccin-light-pill-red);
    --altred: var(--catppuccin-light-pill-altred);
    --yellow: var(--catppuccin-light-pill-yellow);
    --altyellow: var(--catppuccin-light-pill-altyellow);
    --blue: var(--catppuccin-light-pill-blue);
    --altblue: var(--catppuccin-light-pill-altblue);
    --green: var(--catppuccin-light-pill-green);
    --altgreen: var(--catppuccin-light-pill-altgreen);
    --aqua: var(--catppuccin-light-pill-aqua);
    --altaqua: var(--catppuccin-light-pill-altaqua);
    --orange: var(--catppuccin-light-pill-orange);
    --altorange: var(--catppuccin-light-pill-altorange);
    --white: var(--catppuccin-light-pill-white);
    --white2: var(--catppuccin-light-pill-white2);
    --white3: var(--catppuccin-light-pill-white3);
    --white4: var(--catppuccin-light-pill-white4);
    --purple: var(--catppuccin-light-pill-purple);
    --altpurple: var(--catppuccin-light-pill-altpurple);
    --gray: var(--catppuccin-light-pill-gray);
    --gray2: var(--catppuccin-light-pill-gray2);
  }

  @media (prefers-color-scheme: dark) {
    .gruvbox {
      --color-foreground: var(--gruvbox-dark-color-foreground);
      --color-background: var(--gruvbox-dark-color-background);
      --color-altbg: var(--gruvbox-dark-color-altbg);
      --color-primary: var(--gruvbox-dark-color-primary);
      --color-secondary: var(--gruvbox-dark-color-secondary);
      --color-accent: var(--gruvbox-dark-color-accent);
      --color-base00: var(--gruvbox-dark-color-base00);
      --color-base01: var(--gruvbox-dark-color-base01);
      --color-base02: var(--gruvbox-dark-color-base02);
      --color-base03: var(--gruvbox-dark-color-base03);
      --color-base04: var(--gruvbox-dark-color-base04);
      --color-base05: var(--gruvbox-dark-color-base05);
      --color-base06: var(--gruvbox-dark-color-base06);
      --color-base07: var(--gruvbox-dark-color-base07);
      --color-base08: var(--gruvbox-dark-color-base08);
      --color-base09: var(--gruvbox-dark-color-base09);
      --color-base0A: var(--gruvbox-dark-color-base0A);
      --color-base0B: var(--gruvbox-dark-color-base0B);
      --color-base0C: var(--gruvbox-dark-color-base0C);
      --color-base0D: var(--gruvbox-dark-color-base0D);
      --color-base0E: var(--gruvbox-dark-color-base0E);
      --color-base0F: var(--gruvbox-dark-color-base0F);
      --black: var(--gruvbox-dark-pill-black);
      --red: var(--gruvbox-dark-pill-red);
      --altred: var(--gruvbox-dark-pill-altred);
      --yellow: var(--gruvbox-dark-pill-yellow);
      --altyellow: var(--gruvbox-dark-pill-altyellow);
      --blue: var(--gruvbox-dark-pill-blue);
      --altblue: var(--gruvbox-dark-pill-altblue);
      --green: var(--gruvbox-dark-pill-green);
      --altgreen: var(--gruvbox-dark-pill-altgreen);
      --aqua: var(--gruvbox-dark-pill-aqua);
      --altaqua: var(--gruvbox-dark-pill-altaqua);
      --orange: var(--gruvbox-dark-pill-orange);
      --altorange: var(--gruvbox-dark-pill-altorange);
      --white: var(--gruvbox-dark-pill-white);
      --white2: var(--gruvbox-dark-pill-white2);
      --white3: var(--gruvbox-dark-pill-white3);
      --white4: var(--gruvbox-dark-pill-white4);
      --purple: var(--gruvbox-dark-pill-purple);
      --altpurple: var(--gruvbox-dark-pill-altpurple);
      --gray: var(--gruvbox-dark-pill-gray);
      --gray2: var(--gruvbox-dark-pill-gray2);
    }

    .catppuccin {
      --color-foreground: var(--catppuccin-dark-color-foreground);
      --color-background: var(--catppuccin-dark-color-background);
      --color-altbg: var(--catppuccin-dark-color-altbg);
      --color-primary: var(--catppuccin-dark-color-primary);
      --color-secondary: var(--catppuccin-dark-color-secondary);
      --color-accent: var(--catppuccin-dark-color-accent);
      --color-base00: var(--catppuccin-dark-color-base00);
      --color-base01: var(--catppuccin-dark-color-base01);
      --color-base02: var(--catppuccin-dark-color-base02);
      --color-base03: var(--catppuccin-dark-color-base03);
      --color-base04: var(--catppuccin-dark-color-base04);
      --color-base05: var(--catppuccin-dark-color-base05);
      --color-base06: var(--catppuccin-dark-color-base06);
      --color-base07: var(--catppuccin-dark-color-base07);
      --color-base08: var(--catppuccin-dark-color-base08);
      --color-base09: var(--catppuccin-dark-color-base09);
      --color-base0A: var(--catppuccin-dark-color-base0A);
      --color-base0B: var(--catppuccin-dark-color-base0B);
      --color-base0C: var(--catppuccin-dark-color-base0C);
      --color-base0D: var(--catppuccin-dark-color-base0D);
      --color-base0E: var(--catppuccin-dark-color-base0E);
      --color-base0F: var(--catppuccin-dark-color-base0F);
      --black: var(--catppuccin-dark-pill-black);
      --red: var(--catppuccin-dark-pill-red);
      --altred: var(--catppuccin-dark-pill-altred);
      --yellow: var(--catppuccin-dark-pill-yellow);
      --altyellow: var(--catppuccin-dark-pill-altyellow);
      --blue: var(--catppuccin-dark-pill-blue);
      --altblue: var(--catppuccin-dark-pill-altblue);
      --green: var(--catppuccin-dark-pill-green);
      --altgreen: var(--catppuccin-dark-pill-altgreen);
      --aqua: var(--catppuccin-dark-pill-aqua);
      --altaqua: var(--catppuccin-dark-pill-altaqua);
      --orange: var(--catppuccin-dark-pill-orange);
      --altorange: var(--catppuccin-dark-pill-altorange);
      --white: var(--catppuccin-dark-pill-white);
      --white2: var(--catppuccin-dark-pill-white2);
      --white3: var(--catppuccin-dark-pill-white3);
      --white4: var(--catppuccin-dark-pill-white4);
      --purple: var(--catppuccin-dark-pill-purple);
      --altpurple: var(--catppuccin-dark-pill-altpurple);
      --gray: var(--catppuccin-dark-pill-gray);
      --gray2: var(--catppuccin-dark-pill-gray2);
    }
  }

  [data-theme="dark"] {
    .gruvbox {
      --color-foreground: var(--gruvbox-dark-color-foreground);
      --color-background: var(--gruvbox-dark-color-background);
      --color-altbg: var(--gruvbox-dark-color-altbg);
      --color-primary: var(--gruvbox-dark-color-primary);
      --color-secondary: var(--gruvbox-dark-color-secondary);
      --color-accent: var(--gruvbox-dark-color-accent);
      --color-base00: var(--gruvbox-dark-color-base00);
      --color-base01: var(--gruvbox-dark-color-base01);
      --color-base02: var(--gruvbox-dark-color-base02);
      --color-base03: var(--gruvbox-dark-color-base03);
      --color-base04: var(--gruvbox-dark-color-base04);
      --color-base05: var(--gruvbox-dark-color-base05);
      --color-base06: var(--gruvbox-dark-color-base06);
      --color-base07: var(--gruvbox-dark-color-base07);
      --color-base08: var(--gruvbox-dark-color-base08);
      --color-base09: var(--gruvbox-dark-color-base09);
      --color-base0A: var(--gruvbox-dark-color-base0A);
      --color-base0B: var(--gruvbox-dark-color-base0B);
      --color-base0C: var(--gruvbox-dark-color-base0C);
      --color-base0D: var(--gruvbox-dark-color-base0D);
      --color-base0E: var(--gruvbox-dark-color-base0E);
      --color-base0F: var(--gruvbox-dark-color-base0F);
      --black: var(--gruvbox-dark-pill-black);
      --red: var(--gruvbox-dark-pill-red);
      --altred: var(--gruvbox-dark-pill-altred);
      --yellow: var(--gruvbox-dark-pill-yellow);
      --altyellow: var(--gruvbox-dark-pill-altyellow);
      --blue: var(--gruvbox-dark-pill-blue);
      --altblue: var(--gruvbox-dark-pill-altblue);
      --green: var(--gruvbox-dark-pill-green);
      --altgreen: var(--gruvbox-dark-pill-altgreen);
      --aqua: var(--gruvbox-dark-pill-aqua);
      --altaqua: var(--gruvbox-dark-pill-altaqua);
      --orange: var(--gruvbox-dark-pill-orange);
      --altorange: var(--gruvbox-dark-pill-altorange);
      --white: var(--gruvbox-dark-pill-white);
      --white2: var(--gruvbox-dark-pill-white2);
      --white3: var(--gruvbox-dark-pill-white3);
      --white4: var(--gruvbox-dark-pill-white4);
      --purple: var(--gruvbox-dark-pill-purple);
      --altpurple: var(--gruvbox-dark-pill-altpurple);
      --gray: var(--gruvbox-dark-pill-gray);
      --gray2: var(--gruvbox-dark-pill-gray2);
    }

    .catppuccin {
      --color-foreground: var(--catppuccin-dark-color-foreground);
      --color-background: var(--catppuccin-dark-color-background);
      --color-altbg: var(--catppuccin-dark-color-altbg);
      --color-primary: var(--catppuccin-dark-color-primary);
      --color-secondary: var(--catppuccin-dark-color-secondary);
      --color-accent: var(--catppuccin-dark-color-accent);
      --color-base00: var(--catppuccin-dark-color-base00);
      --color-base01: var(--catppuccin-dark-color-base01);
      --color-base02: var(--catppuccin-dark-color-base02);
      --color-base03: var(--catppuccin-dark-color-base03);
      --color-base04: var(--catppuccin-dark-color-base04);
      --color-base05: var(--catppuccin-dark-color-base05);
      --color-base06: var(--catppuccin-dark-color-base06);
      --color-base07: var(--catppuccin-dark-color-base07);
      --color-base08: var(--catppuccin-dark-color-base08);
      --color-base09: var(--catppuccin-dark-color-base09);
      --color-base0A: var(--catppuccin-dark-color-base0A);
      --color-base0B: var(--catppuccin-dark-color-base0B);
      --color-base0C: var(--catppuccin-dark-color-base0C);
      --color-base0D: var(--catppuccin-dark-color-base0D);
      --color-base0E: var(--catppuccin-dark-color-base0E);
      --color-base0F: var(--catppuccin-dark-color-base0F);
      --black: var(--catppuccin-dark-pill-black);
      --red: var(--catppuccin-dark-pill-red);
      --altred: var(--catppuccin-dark-pill-altred);
      --yellow: var(--catppuccin-dark-pill-yellow);
      --altyellow: var(--catppuccin-dark-pill-altyellow);
      --blue: var(--catppuccin-dark-pill-blue);
      --altblue: var(--catppuccin-dark-pill-altblue);
      --green: var(--catppuccin-dark-pill-green);
      --altgreen: var(--catppuccin-dark-pill-altgreen);
      --aqua: var(--catppuccin-dark-pill-aqua);
      --altaqua: var(--catppuccin-dark-pill-altaqua);
      --orange: var(--catppuccin-dark-pill-orange);
      --altorange: var(--catppuccin-dark-pill-altorange);
      --white: var(--catppuccin-dark-pill-white);
      --white2: var(--catppuccin-dark-pill-white2);
      --white3: var(--catppuccin-dark-pill-white3);
      --white4: var(--catppuccin-dark-pill-white4);
      --purple: var(--catppuccin-dark-pill-purple);
      --altpurple: var(--catppuccin-dark-pill-altpurple);
      --gray: var(--catppuccin-dark-pill-gray);
      --gray2: var(--catppuccin-dark-pill-gray2);
    }
  }

  [data-theme="light"] {
    .gruvbox {
      --color-foreground: var(--gruvbox-light-color-foreground);
      --color-background: var(--gruvbox-light-color-background);
      --color-altbg: var(--gruvbox-light-color-altbg);
      --color-primary: var(--gruvbox-light-color-primary);
      --color-secondary: var(--gruvbox-light-color-secondary);
      --color-accent: var(--gruvbox-light-color-accent);
      --color-base00: var(--gruvbox-light-color-base00);
      --color-base01: var(--gruvbox-light-color-base01);
      --color-base02: var(--gruvbox-light-color-base02);
      --color-base03: var(--gruvbox-light-color-base03);
      --color-base04: var(--gruvbox-light-color-base04);
      --color-base05: var(--gruvbox-light-color-base05);
      --color-base06: var(--gruvbox-light-color-base06);
      --color-base07: var(--gruvbox-light-color-base07);
      --color-base08: var(--gruvbox-light-color-base08);
      --color-base09: var(--gruvbox-light-color-base09);
      --color-base0A: var(--gruvbox-light-color-base0A);
      --color-base0B: var(--gruvbox-light-color-base0B);
      --color-base0C: var(--gruvbox-light-color-base0C);
      --color-base0D: var(--gruvbox-light-color-base0D);
      --color-base0E: var(--gruvbox-light-color-base0E);
      --color-base0F: var(--gruvbox-light-color-base0F);
      --black: var(--gruvbox-light-pill-black);
      --red: var(--gruvbox-light-pill-red);
      --altred: var(--gruvbox-light-pill-altred);
      --yellow: var(--gruvbox-light-pill-yellow);
      --altyellow: var(--gruvbox-light-pill-altyellow);
      --blue: var(--gruvbox-light-pill-blue);
      --altblue: var(--gruvbox-light-pill-altblue);
      --green: var(--gruvbox-light-pill-green);
      --altgreen: var(--gruvbox-light-pill-altgreen);
      --aqua: var(--gruvbox-light-pill-aqua);
      --altaqua: var(--gruvbox-light-pill-altaqua);
      --orange: var(--gruvbox-light-pill-orange);
      --altorange: var(--gruvbox-light-pill-altorange);
      --white: var(--gruvbox-light-pill-white);
      --white2: var(--gruvbox-light-pill-white2);
      --white3: var(--gruvbox-light-pill-white3);
      --white4: var(--gruvbox-light-pill-white4);
      --purple: var(--gruvbox-light-pill-purple);
      --altpurple: var(--gruvbox-light-pill-altpurple);
      --gray: var(--gruvbox-light-pill-gray);
      --gray2: var(--gruvbox-light-pill-gray2);
    }

    .catppuccin {
      --color-foreground: var(--catppuccin-light-color-foreground);
      --color-background: var(--catppuccin-light-color-background);
      --color-altbg: var(--catppuccin-light-color-altbg);
      --color-primary: var(--catppuccin-light-color-primary);
      --color-secondary: var(--catppuccin-light-color-secondary);
      --color-accent: var(--catppuccin-light-color-accent);
      --color-base00: var(--catppuccin-light-color-base00);
      --color-base01: var(--catppuccin-light-color-base01);
      --color-base02: var(--catppuccin-light-color-base02);
      --color-base03: var(--catppuccin-light-color-base03);
      --color-base04: var(--catppuccin-light-color-base04);
      --color-base05: var(--catppuccin-light-color-base05);
      --color-base06: var(--catppuccin-light-color-base06);
      --color-base07: var(--catppuccin-light-color-base07);
      --color-base08: var(--catppuccin-light-color-base08);
      --color-base09: var(--catppuccin-light-color-base09);
      --color-base0A: var(--catppuccin-light-color-base0A);
      --color-base0B: var(--catppuccin-light-color-base0B);
      --color-base0C: var(--catppuccin-light-color-base0C);
      --color-base0D: var(--catppuccin-light-color-base0D);
      --color-base0E: var(--catppuccin-light-color-base0E);
      --color-base0F: var(--catppuccin-light-color-base0F);
      --black: var(--catppuccin-light-pill-black);
      --red: var(--catppuccin-light-pill-red);
      --altred: var(--catppuccin-light-pill-altred);
      --yellow: var(--catppuccin-light-pill-yellow);
      --altyellow: var(--catppuccin-light-pill-altyellow);
      --blue: var(--catppuccin-light-pill-blue);
      --altblue: var(--catppuccin-light-pill-altblue);
      --green: var(--catppuccin-light-pill-green);
      --altgreen: var(--catppuccin-light-pill-altgreen);
      --aqua: var(--catppuccin-light-pill-aqua);
      --altaqua: var(--catppuccin-light-pill-altaqua);
      --orange: var(--catppuccin-light-pill-orange);
      --altorange: var(--catppuccin-light-pill-altorange);
      --white: var(--catppuccin-light-pill-white);
      --white2: var(--catppuccin-light-pill-white2);
      --white3: var(--catppuccin-light-pill-white3);
      --white4: var(--catppuccin-light-pill-white4);
      --purple: var(--catppuccin-light-pill-purple);
      --altpurple: var(--catppuccin-light-pill-altpurple);
      --gray: var(--catppuccin-light-pill-gray);
      --gray2: var(--catppuccin-light-pill-gray2);
    }
  }
}
