@layer base {
  :root {
    /* Gruvbox Light UI colors */
    --gruvbox-light-color-foreground: #3c3836;
    --gruvbox-light-color-background: #fdfbf2;
    --gruvbox-light-color-altbg: #e8e0c9;
    --gruvbox-light-color-primary: #548d8e;
    --gruvbox-light-color-secondary: #b0cdcb;
    --gruvbox-light-color-accent: #b16286;
    /* Gruvbox Light syntax colors */
    --gruvbox-light-color-base00: #fff9e8;
    --gruvbox-light-color-base01: #ebdbb2;
    --gruvbox-light-color-base02: #d5c4a1;
    --gruvbox-light-color-base03: #bdae93;
    --gruvbox-light-color-base04: #665c54;
    --gruvbox-light-color-base05: #504945;
    --gruvbox-light-color-base06: #3c3836;
    --gruvbox-light-color-base07: #282828;
    --gruvbox-light-color-base08: #9d0006;
    --gruvbox-light-color-base09: #af3a03;
    --gruvbox-light-color-base0A: #b57614;
    --gruvbox-light-color-base0B: #79740e;
    --gruvbox-light-color-base0C: #427b58;
    --gruvbox-light-color-base0D: #076678;
    --gruvbox-light-color-base0E: #8f3f71;
    --gruvbox-light-color-base0F: #d65d0e;
    /* Gruvbox Light pill colors */
    --gruvbox-light-pill-black: var(--gruvbox-light-color-base07);
    --gruvbox-light-pill-red: var(--gruvbox-light-color-base08);
    --gruvbox-light-pill-altred: var(--gruvbox-light-color-base0F);
    --gruvbox-light-pill-yellow: var(--gruvbox-light-color-base0A);
    --gruvbox-light-pill-altyellow: var(--gruvbox-light-color-base09);
    --gruvbox-light-pill-blue: var(--gruvbox-light-color-base0D);
    --gruvbox-light-pill-altblue: var(--gruvbox-light-color-base0C);
    --gruvbox-light-pill-green: var(--gruvbox-light-color-base0B);
    --gruvbox-light-pill-altgreen: var(--gruvbox-light-color-base0C);
    --gruvbox-light-pill-aqua: var(--gruvbox-light-color-base0C);
    --gruvbox-light-pill-altaqua: var(--gruvbox-light-color-base0D);
    --gruvbox-light-pill-orange: var(--gruvbox-light-color-base0F);
    --gruvbox-light-pill-altorange: var(--gruvbox-light-color-base09);
    --gruvbox-light-pill-white: var(--gruvbox-light-color-base00);
    --gruvbox-light-pill-white2: var(--gruvbox-light-color-base01);
    --gruvbox-light-pill-white3: var(--gruvbox-light-color-base02);
    --gruvbox-light-pill-white4: var(--gruvbox-light-color-base03);
    --gruvbox-light-pill-purple: var(--gruvbox-light-color-base0E);
    --gruvbox-light-pill-altpurple: var(--gruvbox-light-color-base0E);
    --gruvbox-light-pill-gray: var(--gruvbox-light-color-base04);
    --gruvbox-light-pill-gray2: var(--gruvbox-light-color-base05);

    /* Gruvbox Dark UI colors */
    --gruvbox-dark-color-foreground: #d7c9a4;
    --gruvbox-dark-color-background: #202020;
    --gruvbox-dark-color-altbg: #32302f;
    --gruvbox-dark-color-primary: #bee0d9;
    --gruvbox-dark-color-secondary: #9db9b7;
    --gruvbox-dark-color-accent: #ee9bb2;
    /* Gruvbox Dark syntax colors */
    --gruvbox-dark-color-base00: #32302f;
    --gruvbox-dark-color-base01: #3c3836;
    --gruvbox-dark-color-base02: #504945;
    --gruvbox-dark-color-base03: #665c54;
    --gruvbox-dark-color-base04: #bdae93;
    --gruvbox-dark-color-base05: #d5c4a1;
    --gruvbox-dark-color-base06: #ebdbb2;
    --gruvbox-dark-color-base07: #fbf1c7;
    --gruvbox-dark-color-base08: #fb4934;
    --gruvbox-dark-color-base09: #fe8019;
    --gruvbox-dark-color-base0A: #fabd2f;
    --gruvbox-dark-color-base0B: #b8bb26;
    --gruvbox-dark-color-base0C: #8ec07c;
    --gruvbox-dark-color-base0D: #83a598;
    --gruvbox-dark-color-base0E: #d3869b;
    --gruvbox-dark-color-base0F: #d65d0e;
    /* Gruvbox Dark pill colors */
    --gruvbox-dark-pill-black: var(--gruvbox-dark-color-base01);
    --gruvbox-dark-pill-red: var(--gruvbox-dark-color-base08);
    --gruvbox-dark-pill-altred: var(--gruvbox-dark-color-base08);
    --gruvbox-dark-pill-yellow: var(--gruvbox-dark-color-base0A);
    --gruvbox-dark-pill-altyellow: var(--gruvbox-dark-color-base09);
    --gruvbox-dark-pill-blue: var(--gruvbox-dark-color-base0D);
    --gruvbox-dark-pill-altblue: var(--gruvbox-dark-color-base0C);
    --gruvbox-dark-pill-green: var(--gruvbox-dark-color-base0B);
    --gruvbox-dark-pill-altgreen: var(--gruvbox-dark-color-base0C);
    --gruvbox-dark-pill-aqua: var(--gruvbox-dark-color-base0C);
    --gruvbox-dark-pill-altaqua: var(--gruvbox-dark-color-base0D);
    --gruvbox-dark-pill-orange: var(--gruvbox-dark-color-base09);
    --gruvbox-dark-pill-altorange: var(--gruvbox-dark-color-base0F);
    --gruvbox-dark-pill-white: var(--gruvbox-dark-color-base07);
    --gruvbox-dark-pill-white2: var(--gruvbox-dark-color-base06);
    --gruvbox-dark-pill-white3: var(--gruvbox-dark-color-base05);
    --gruvbox-dark-pill-white4: var(--gruvbox-dark-color-base04);
    --gruvbox-dark-pill-purple: var(--gruvbox-dark-color-base0E);
    --gruvbox-dark-pill-altpurple: var(--gruvbox-dark-color-base0E);
    --gruvbox-dark-pill-gray: var(--gruvbox-dark-color-base03);
    --gruvbox-dark-pill-gray2: var(--gruvbox-dark-color-base02);

    /* Catppuccin Light UI colors */
    --catppuccin-light-color-foreground: #4b4e68;
    --catppuccin-light-color-background: #eff1f5;
    --catppuccin-light-color-altbg: #e6e9ef;
    --catppuccin-light-color-primary: #dc8a78;
    --catppuccin-light-color-secondary: #f9e2af;
    --catppuccin-light-color-accent: #cba6f7;
    /* Catppuccin Light syntax colors */
    --catppuccin-light-color-base00: #eff1f5;
    --catppuccin-light-color-base01: #e6e9ef;
    --catppuccin-light-color-base02: #ccd0da;
    --catppuccin-light-color-base03: #bcc0cc;
    --catppuccin-light-color-base04: #acb0be;
    --catppuccin-light-color-base05: #4c4f69;
    --catppuccin-light-color-base06: #dc8a78;
    --catppuccin-light-color-base07: #7287fd;
    --catppuccin-light-color-base08: #d20f39;
    --catppuccin-light-color-base09: #fe640b;
    --catppuccin-light-color-base0A: #df8e1d;
    --catppuccin-light-color-base0B: #40a02b;
    --catppuccin-light-color-base0C: #179299;
    --catppuccin-light-color-base0D: #1e66f5;
    --catppuccin-light-color-base0E: #8839ef;
    --catppuccin-light-color-base0F: #dd7878;
    /* Catppuccin Light pill colors */
    --catppuccin-light-pill-black: var(--catppuccin-light-color-base00);
    --catppuccin-light-pill-red: var(--catppuccin-light-color-base08);
    --catppuccin-light-pill-altred: var(--catppuccin-light-color-base08);
    --catppuccin-light-pill-yellow: var(--catppuccin-light-color-base0A);
    --catppuccin-light-pill-altyellow: var(--catppuccin-light-color-base09);
    --catppuccin-light-pill-blue: var(--catppuccin-light-color-base0D);
    --catppuccin-light-pill-altblue: var(--catppuccin-light-color-base0C);
    --catppuccin-light-pill-green: var(--catppuccin-light-color-base0B);
    --catppuccin-light-pill-altgreen: var(--catppuccin-light-color-base0B);
    --catppuccin-light-pill-aqua: var(--catppuccin-light-color-base0C);
    --catppuccin-light-pill-altaqua: var(--catppuccin-light-color-base0C);
    --catppuccin-light-pill-orange: var(--catppuccin-light-color-base09);
    --catppuccin-light-pill-altorange: var(--catppuccin-light-color-base0A);
    --catppuccin-light-pill-white: var(--catppuccin-light-color-base00);
    --catppuccin-light-pill-white2: var(--catppuccin-light-color-base01);
    --catppuccin-light-pill-white3: var(--catppuccin-light-color-base02);
    --catppuccin-light-pill-white4: var(--catppuccin-light-color-base03);
    --catppuccin-light-pill-purple: var(--catppuccin-light-color-base0E);
    --catppuccin-light-pill-altpurple: var(--catppuccin-light-color-base0E);
    --catppuccin-light-pill-gray: var(--catppuccin-light-color-base03);
    --catppuccin-light-pill-gray2: var(--catppuccin-light-color-base04);

    /* Catppuccin Dark UI colors */
    --catppuccin-dark-color-foreground: #cad3f5;
    --catppuccin-dark-color-background: #24273a;
    --catppuccin-dark-color-altbg: #303446;
    --catppuccin-dark-color-primary: #8aadf4;
    --catppuccin-dark-color-secondary: #b7bdf8;
    --catppuccin-dark-color-accent: #c6a0f6;
    /* Catppuccin Dark syntax colors */
    --catppuccin-dark-color-base00: #303446;
    --catppuccin-dark-color-base01: #292c3c;
    --catppuccin-dark-color-base02: #414559;
    --catppuccin-dark-color-base03: #51576d;
    --catppuccin-dark-color-base04: #626880;
    --catppuccin-dark-color-base05: #cdd6f4;
    --catppuccin-dark-color-base06: #f5e0dc;
    --catppuccin-dark-color-base07: #b4befe;
    --catppuccin-dark-color-base08: #f38ba8;
    --catppuccin-dark-color-base09: #fab387;
    --catppuccin-dark-color-base0A: #f9e2af;
    --catppuccin-dark-color-base0B: #a6e3a1;
    --catppuccin-dark-color-base0C: #94e2d5;
    --catppuccin-dark-color-base0D: #89b4fa;
    --catppuccin-dark-color-base0E: #cba6f7;
    --catppuccin-dark-color-base0F: #f2cdcd;
    /* Catppuccin Dark pill colors */
    --catppuccin-dark-pill-black: var(--catppuccin-dark-color-base00);
    --catppuccin-dark-pill-red: var(--catppuccin-dark-color-base08);
    --catppuccin-dark-pill-altred: var(--catppuccin-dark-color-base08);
    --catppuccin-dark-pill-yellow: var(--catppuccin-dark-color-base0A);
    --catppuccin-dark-pill-altyellow: var(--catppuccin-dark-color-base0A);
    --catppuccin-dark-pill-blue: var(--catppuccin-dark-color-base0D);
    --catppuccin-dark-pill-altblue: var(--catppuccin-dark-color-base0C);
    --catppuccin-dark-pill-green: var(--catppuccin-dark-color-base0B);
    --catppuccin-dark-pill-altgreen: var(--catppuccin-dark-color-base0B);
    --catppuccin-dark-pill-aqua: var(--catppuccin-dark-color-base0C);
    --catppuccin-dark-pill-altaqua: var(--catppuccin-dark-color-base0C);
    --catppuccin-dark-pill-orange: var(--catppuccin-dark-color-base09);
    --catppuccin-dark-pill-altorange: var(--catppuccin-dark-color-base0A);
    --catppuccin-dark-pill-white: var(--catppuccin-dark-color-base05);
    --catppuccin-dark-pill-white2: var(--catppuccin-dark-color-base01);
    --catppuccin-dark-pill-white3: var(--catppuccin-dark-color-base02);
    --catppuccin-dark-pill-white4: var(--catppuccin-dark-color-base03);
    --catppuccin-dark-pill-purple: var(--catppuccin-dark-color-base0E);
    --catppuccin-dark-pill-altpurple: var(--catppuccin-dark-color-base0E);
    --catppuccin-dark-pill-gray: var(--catppuccin-dark-color-base03);
    --catppuccin-dark-pill-gray2: var(--catppuccin-dark-color-base04);
  }
}
