@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  #dropdownTrigger:hover #dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}