@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  #dropdownTrigger:hover #dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@layer utilities {
  .sideline {
    position: relative;
    padding-left: 0;
    border-left: 2px solid transparent;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .sideline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: teal;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 0 2px 0 2px;
  }

  .sideline:hover {
    padding-left: 9px;
  }

  .sideline:hover::before {
    width: 3px;
  }

  .sideline:active {
    transform: translateX(1px);
    transition-duration: 0.1s;
  }

  .underlined {
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underlined::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: teal;
    visibility: hidden;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 6px;
    transform: scaleX(0);
    left: 0;
    bottom: -1px;
  }

  .underlined:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .underlined:active {
    transform: translateY(1px);
    transition-duration: 0.1s;
  }
}