.cardImg {
  aspect-ratio: 21/9;
  object-fit: cover;
  width: 100%;
  min-width: 10rem;
  transition: filter var(--animation-duration) ease-in-out;
  display: flex;
  flex-wrap: wrap;
} 
.cardImgA{
  position: relative;
}
.cardImgA:hover {
  opacity: 1;
}
.cardImg:hover {
  filter: brightness(0.8);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 4%;
}

.blogCard {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  margin-bottom: 1rem;
}

.blogList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 1.5rem; 
  max-width: 1600px;
}

.blogCardContent {
  height: 100%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.blogCardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.blogCardDate {
  font-size: 1rem;
  opacity: 0.6;
  margin: 0;
  margin-left: 0.8rem;
  display: inline;
  position: relative;
}

.blogCardDate::before {
  display: block;
  position: absolute;
  top: 15%;
  left: -0.8rem;
  content: '';
  width: 2px;
  height: 70%;
  background-color: var(--blue);
}
.blogCardP {
  margin-top: 0.6rem;
  font-size: 1rem;
  line-height: 1.3rem;
  word-spacing: 1px;
  margin-bottom: 0;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

@media only screen and (max-width: 815px) {
  .blogCard {
  display: flex;
  flex-wrap: wrap;
  }
  .blogCardContent {
    padding-left: 0; 
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
