.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

.customSelect {
  max-width: 350px;
  position: relative;
}

.select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  width: 100%;
  font-size: 1rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  color: var(--black);
  cursor: pointer;
  position: relative;
}

.select:hover {
  border: 1px solid var(--gray)
}

.customSelect::before,
.customSelect::after {
  content: "";
  --size: 0.3rem;
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--black);
  top: 40%;
  z-index: 10;
}

.customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--black);
  top: 55%;
  z-index: 10;
}
